* {
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    position: absolute;
    padding-top: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #80bdff;
}

.logo:hover {
    color: white;
}

.menu {
    margin: 0;
}

.menu .menu-list-item {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 20px;
}

.menu .menu-list-item a {
    color: #ffffff;
    font-weight: bold;
}

/*######################## HERO ##########################*/

#hero {
    height: 100vh;
    background: #222222;
}

.hero-content {
    text-align: center;
    padding-top: 20%;
}

.top-title {
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
}

.top-title span {
    color: #80bdff;
}

.text-description {
    color: #ffffff;
}

/*######################## HERO ##########################*/

/*######################## ABOUT #########################*/

#about .container {
    border-radius: 40px;
    background: #222222;
    color: white;
}

.text-about {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #ffffff;
}

.text-about span {
    color: #80bdff;
}

/*######################## ABOUT #########################*/